---
const { tagName } = Astro.props;
import { slug as ghSlug } from "github-slugger";
interface Props {
  tagName: string;
}
---

<a
  class="hover:underline underline-offset-2 transition-all flex items-center"

  href={`/tags/${tagName.replaceAll(" ", "-")}`}
  class="inline-block"
>
  <span class="opacity-80">#</span>
  <span transition:name={ghSlug(tagName)}>
  {tagName}

  </span>
</a>
