---
import type { CollectionEntry } from "astro:content";
import { slug as ghSlug } from "github-slugger";

interface Props {
  recentPosts: CollectionEntry<"blog">[];
}

const { recentPosts } = Astro.props;
---

<>
  <div class="font-semibold text-2xl dark:text-teal-400 text-black mb-4">
    Recent Blog
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    {
      recentPosts.map((post) => (
        <div class="relative rounded-md overflow-hidden group">
          <a
            transition:name={ghSlug(post.data.title)}
            href={`/posts/${post.slug}`}
          >
            <img
              src={
                typeof post.data?.ogImage === "string"
                  ? post.data.ogImage
                  : "https://user-images.githubusercontent.com/53733092/215771435-25408246-2309-4f8b-a781-1f3d93bdf0ec.png"
              }
              class="object-cover w-full h-48 group-hover:scale-110 transition-transform"
            />
            <p
              class="absolute inset-x-1 bottom-1 bg-gray-900/10 text-white truncate text-center"
              title={post.data.title}
            >
              {post.data.title}
            </p>
          </a>
        </div>
      ))
    }
  </div>
</>
