---
import { SiteConfig } from "@config";
import MenuIcons from "./MenuIcons.astro";
interface Props {
  activeNav: "posts" | "projects" | "weekly";
}

const { activeNav } = Astro.props;
---

<header class="flex gap-2 items-center text-sm md:text-[18px] relative">
  <div
    class="p-1 bg-sky-100 dark:bg-sky-100/10 dark:text-gray-100 text-sky-900 overflow-hidden flex items-center rounded-l-full rounded-r-md gap-2 mr-4 pr-2 font-semibold"
  >
    <img src={SiteConfig.avatar} class="w-6 h-6 rounded-full" />
    <a href="/">{SiteConfig.author}</a>
  </div>
  <a
    href="/posts"
    class:list={[
      "hover:opacity-100 transition-all",
      activeNav === "posts" ? "active-nav" : "opacity-70",
    ]}>Posts</a
  >
  <span class="scale-50 opacity-50">/</span>
  <a
    href="/projects"
    class:list={[
      "hover:opacity-100 transition-all",
      activeNav === "projects" ? "active-nav" : "opacity-70",
    ]}>Projects</a
  >
  <span class="scale-50 opacity-50">/</span>
  <a
    href="/weekly"
    class:list={[
      "hover:opacity-100 transition-all",
      activeNav === "weekly" ? "active-nav" : "opacity-70",
    ]}>weekly</a
  >
  <div class="ml-auto flex-nowrap items-center gap-4 hidden sm:flex">
    <MenuIcons />
  </div>

  <div
    class="absolute top-[100%] w-full flex justify-center pt-8 text-[20px] gap-4 sm:hidden"
  >
    <MenuIcons />
  </div>
</header>

<style>
  .active-nav {
    @apply opacity-100 underline underline-offset-2;
  }
</style>
