---
import { SiteConfig } from "@config";
import MenuIcons from "./MenuIcons.astro";
interface Props {
  activeNav: "posts" | "projects" | "weekly";
}

const { activeNav } = Astro.props;
---

<header class="flex gap-2 items-center text-sm md:text-[18px] relative">
  <a href="/" class="pr-4">@{SiteConfig.author}:</a>
  <a
    href="/posts"
    class:list={[
      "hover:opacity-100 transition-all",
      activeNav === "posts" ? "active-nav" : "opacity-70",
    ]}>Posts</a
  >
  <span class="scale-50 opacity-50">/</span>
  <a
    href="/projects"
    class:list={[
      "hover:opacity-100 transition-all",
      activeNav === "projects" ? "active-nav" : "opacity-70",
    ]}>Projects</a
  >
  <span class="scale-50 opacity-50">/</span>
  <a
    href="/weekly"
    class:list={[
      "hover:opacity-100 transition-all",
      activeNav === "weekly" ? "active-nav" : "opacity-70",
    ]}>weekly</a
  >
  <div class="ml-auto flex-nowrap items-center gap-4 hidden sm:flex">
    <MenuIcons />
  </div>

  <div
    class="absolute top-[100%] w-full flex justify-center pt-8 text-[20px] gap-4 sm:hidden"
  >
    <MenuIcons />
  </div>
</header>

<style>
  .active-nav {
    @apply opacity-100 underline underline-offset-2;
  }
</style>
