<>
  <a
    href="/search"
    class="i-mdi-magnify hover:scale-110 text-sky-500 transition-all"></a>
  <a
    href="/rss.xml"
    class="i-mdi-rss-box hover:scale-110 text-sky-500 transition-all"></a>
  <span
    class="theme-toggle cursor-pointer flex items-center hover:scale-110 text-sky-500 transition-all pr-2"
  >
    <i class="i-mdi-lightbulb-on-10 dark:inline-block hidden"></i>
    <i class="i-mdi-weather-night dark:hidden inline-block"></i>
  </span>
</>
