---
import type { CollectionEntry } from "astro:content";
import DefaultLayout from "@layouts/default.astro";
import ArticleTags from "@components/ArticleTags/index.astro";
import MenuIcons from "./Header/MenuIcons.astro";
import { SiteConfig } from "@config";
const { post } = Astro.props as {
  post: CollectionEntry<"blog">;
};

const {
  data: {
    title,
    author,
    description,
    ogImage,
    canonical,
    tags,
    pubDatetime,
    modDatetime,
  },
} = post;
const { Content } = await post.render();
---

<DefaultLayout>
  <div class="flex justify-between items-center">
    <span>@{SiteConfig.author}</span>
    <div class="flex gap-4">
      <i class="i-mdi-keyboard-backspace" id="_back_"></i>
      <MenuIcons />
    </div>
  </div>
  <!-- Title -->
  <h1 class="text-4xl py-8">{title}</h1>
  <!-- Tags -->
  <ArticleTags tags={tags}/>
  <article id="content">
    <Content />
  </article>
</DefaultLayout>

<style lang="scss">
  .content-title {
    margin: 48px 0;
    font-size: 24px;
    font-weight: 600;
  }
  #content {
  }
</style>


<script is:inline>
document.addEventListener('DOMContentLoaded', () => {
  const back = document.getElementById('_back_');
  back.addEventListener('click', () => {
    window.history.back();
  });
});
</script>